body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    margin-top: auto;
   
}

.pré_header{
    display: flex;
    justify-content: space-between;
    align-items: flex-top;
    margin-left: 100px;
    margin-right: 100px;
}
table{
    border-collapse: collapse;
}

th {
    border: 1px solid white;
    width: 200rem;
    padding: 20px;
    color: white;
    background-color: black;
}
th a{
    text-decoration: none;
    color: white;
}
th:hover{
    background-color: rgb(11, 108, 138);
}


.image1{
    width: 100%;
}
.image2{
    margin-top: -700px;
    width: 450px;
}
.titres{
    margin-top: -500px;
    margin-left: 200px;
    text-align: center;
    text-decoration: none;
    line-height: 0px;  
}
.tete{
    font-size: 20px;
    color: black;
}

.bouton{
    display: flex;
    justify-content: space-around;
   
}
.bouton1{
    border-radius: 30px;   
    background-color: rgba(14, 90, 161, 0.589);
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
    margin-left: 500px;

}
.bouton2{
    border-radius: 30px;
    border: 0.3px solid black;
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
    margin-right:300px;
    background-color: rgba(255, 255, 255, 0.384);
}
h1{
    font-size: 100px;
    color: white;
    text-shadow: 2px 2px 2px black;
}
h2{
    font-size: 50px;
    color: black;
}
a{
    text-decoration: none;
    font-weight: bold;
}
.bouton_bleu{
    color: white;
}
.bouton_blanc{
    color: black;
}

.tittles{
    margin-top: 300px;
    text-align: center;
    line-height: 0%;
  
}
h3{
    font-size: 30px;
    color: rgb(46, 134, 130);
}
h4{
    font-size: 20px;
    color: blue;
}
.comment{
    color: rgb(46, 134, 130);
    margin-right: 100px;
    margin-left: 100px;
}
.services{
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.equipe{
    border-radius: 30px;
    background-color: rgba(239, 243, 0, 0.411);
    width: 35%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: center;
}
.bold{
    font-size: 20px;
}
.professionalisme{
    border-radius: 30px;
    background-color: rgba(239, 243, 0, 0.411);
    margin-left: 30px;
    width: 35%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: center;
}
.accomplissement{
    border-radius: 30px;
    background-color: rgba(239, 243, 0, 0.411);
    margin-left: 30px;
    width: 35%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: center;
}
.conteneur1{
    width: 100%;
    height: 200px;
    background-image: url("img/Rectangle.png");
    margin-bottom: 80px;
}
.d1{
    margin-left: 40px;
    margin-right: 100px;
    height: 150px;
    width: auto;
    overflow: hidden;
    align-items: center;
    padding-left: 60px;
    margin-top: -255px;
    
    
}
.tof1{
    width: 15%;
    height: 150px; 
  
}
.tof2{
    width: 15%;
    height: 150px;
   
}
.fleche{
    display: flex;
}
.tof{
    width: 25%;
    height: 200px;
    padding: 15px;
    

}
.villes{
    align-items: center;
    margin-right: -100px;
    margin-left: 150px;
      
}
.commentaire{
    margin-top: 50px;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;

}
.conteneur2{
    width: 100%;
    height: 300px;
    background: url("img/hotel.png");
}
.blanc{
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 30px;
}
.jaune{
    font-size: 40px;
    font-weight: bold;
    color: yellow;
    text-align: center;
}
.t1{
    line-height: 5px;
}
.bouton-yellow{
    color: black;
    margin-right: 300px;
    margin-left: 600px;
    border-radius: 30px;
    background-color: rgba(72, 255, 0, 0.877);
    padding-left: 30px;
    padding-right: 30px;
}
nav{
    width: 100%;
    height: 50px;
    margin-right: 0%;
    margin-left: 0%;
    position: sticky;
    background-color:rgb(113, 227, 255);
}
nav ul{
    list-style-type:none;
}
nav li{
    float: left;
    width: 25%;
    text-align: center;
}
nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    margin-right: 50px;
}
nav a:hover{
    color: red;
    border-bottom: 2px solid red;
}
.rouge{
    font-size: 30px;
    text-align: center;
    color: red;
    font-weight: bold;
}
/*h6{
    font-size: 30px;
    text-align: center;
    color: red;
    line-height: -3em;

}*/
.R1{
    text-align: center;
    line-height: ;
    font-size: 20px;
    font-weight: bold;
}

 
/*input[type="text"]{
    width: 700px;
    height: 20px;
    margin-left: -20px;
    margin-right: 20px;
    margin-top: -50px;
    border: 1px solid transparent;
    border-radius: 10px; ;
    background-color: aqua;
}
.search{
    width: 700px;
    height: 200px;
    margin-left: 200px;;
    margin-right: -100px;
    margin-top: 300px;  
    align-items: center;
    background-color: aqua;
    
}
input{
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    background-color: aqua;
    padding: 10px;
    width: 300px;
    margin-top:
}
.date{
    width: 500px;
    height: 50px;
    margin-left: 1000px;
    margin-right: 40px;
    margin-top: 20px;
}
input[type="number"]{
    margin-top: 8px;
    position: inherit;
    margin-right: 1000px;
    margin-left: 50px;

    
}
.element{
    display: flex;
    justify-content: space-around;
}*/

.conteneur3{
    border-radius: 30px;
    border: 1px solid transparent;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px black;           
    background-color: rgba(255, 0, 0, 0.055);   
}
.titre3{
    line-height: 1em;
}
input[type="date"], input[type="number"], input[type="submit"]{
    width: 303px;
    height: 50px;
    margin-left: 38px ;
    margin-right: -3px;
    margin-top: -15px;
    background-color:rgb(113, 227, 255) ;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
}
input[type="datetime"]{
    width: 698px;
    height: 50px;
    margin-left: 38px ;
    padding-left: 20px;
    background-color:rgb(113, 227, 255) ;
    border-radius: 10px;
    border: 0px;
    font-size:16px ;
    font-weight: bold;

}
.check{
    width: 323px;
    height: 40px;
    background-color:rgb(187, 186, 186) ;
    margin-left: 38px;
    margin-top: 0px;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 10px;
}
.bout1{
    display: flex;
    
}
.bout2{
    display: flex;
}
input[type="submit"]{
    margin-top: 0px;
    margin-left: 36px;
    width: 340px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgb(4, 4, 63);
    border: 0px;
}
input[type="submit"]:hover{
    text-decoration: none;
    background-color: blue;
}
.ecrivez{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 50px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.conteneur4{
    background-image: url("img/Rectangle.png");
    background-color:solid black;
    padding-bottom: 50px;
}
input[type="text"]{
    width: 203px;
    height: 40px;
    margin-bottom: -15px;
    padding-left: 20px;
}
.barres1{
    display: flex;
}
.nom{
    margin-right: 50px;
}
.prenom{
    margin-left: -20px;
}
input[type="email"]{
    width: 462px;
    height: 40px;
    padding-left: 20px;

}
textarea{
    width: 465px;
    height: 100px;
    padding-left: 20px;
}
button{
    width: 200px;
    height: 40px;
    border-radius: 8px;
    border: 0px;
    background-color: blue;
    color: white;
    font-weight: bold;
}
.GPS{
    width: 40%;
    height: 100px;
    background-color: brown;
    margin-left: 100px;
}
.group-flex{
    display: flex;
    justify-content: space-between;
}
.temoignage{
    margin-left: 100px;
    margin-right: 100px;
}
.formulaire{
    margin-left: -50px;
    margin-right:100px ;
    margin-top: -15px;

}
.colonne{
    display: flex;
}
.franck{
    width: 250px;
    border-radius: 20px;
   
    height: 400px;
    padding: 20px;
    margin-left: 100px;
    margin-right: 20px;
    text-align: center;
    background-color: rgb(248, 248, 197);
    
}


.ib{
    width:250px;
    border-radius: 20px;
    
    height: 400px;
    padding: 20px;
    margin-right: 20px;
    text-align: center;
    background-color: rgb(248, 248, 197);
}
.danya{
    width:250px;
    border-radius: 20px;
    
    height: 400px;
    padding: 20px;
    text-align: center;  
    background-color: rgb(248, 248, 197);
}
.centre{
    text-align: center;
}
.centre2{
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}
.centre2 a:hover{
    color: green;
}
/*
    
}*/
.foot{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    background-color:rgb(0, 128, 117) ;
}
.tof-tour{
    width: 100px;
    height: 100px;
    margin-top: -50px;
}
.sentez{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-right: 300px;
    font-style: italic;
}   
.conteneur5{
    background-color: rgb(187, 183, 183);
}
.foot-flex1{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.propos{
    margin-right: -150px;
}
.blue-tx{
    color: rgb(4, 4, 94);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.foot-flex2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    
}
.rezo{
    margin-left: 120px;
}

.paye{
    margin-right: 100px;
}
.footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    background-color:rgb(31, 29, 29) ;
    color: rgb(110, 109, 106);
}
.list1 ul{
    list-style-type: none;
    text-decoration: underline;
}
.list2 ul{
    list-style-type: none;
    text-decoration: underline;
}
@media all and(max-width: 1300px){

}
    







